* {
	box-sizing: border-box;
	display: grid;
}

body {
	Color: white;
	background-image: url("../images/gray_sand/gray_sand.png");
}

/* Header styling, it will include the score and the timer */
.header-container {
	width: 100%;
	grid-column: ;
}

#score {
}
#timer {
	text-align: right;
}
/* container */
