* {
	box-sizing: border-box;
}

body {
	margin: 0;
	Color: white;
	background-image: url("../images/gray_sand/gray_sand.png");
}

/* Header styling, it will include the score and the timer */
#score {
	float: left;
	margin: 10px;
}
#timer {
	float: right;
	margin: 10px;
}
